<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Wallet Manager</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/" class="header-logo">WALLET MANAGER</a>
            <div class="today">
                <% let today = new Date() %>
                <% let yyyy = today.getFullYear(); %>
                <% let m = today.getMonth() + 1; %>
                <% let d = today.getDate(); %>
                <span><%= yyyy + '年' + m + '月' + d + '日' %></span>
            </div>
        </header>
        <div class="container">
            <div class="container-header">
                <div class="container-text">
                    <h2>メンバー情報編集</h2>
                </div>
                <a href="/members" class="cancel-button">キャンセル</a>
            </div>
            <div class="record-form-wrapper">
                <form action="/member-update/<%= member.id %>" method="post">
                    <p class="form-label">名前</p>
                    <input name="memberName" type="text" value="<%= member.name %>">
                    <p class="form-label">毎月の支払い額</p>
                    <input name="memberMonthly" type="number" value="<%= member.monthly %>">
                    <input type="submit" value="更新する">
                </form>
            </div>
        </div>
    </body>
</html>