<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Wallet Manager</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="top-wrapper">
            <div class="top-detail">
                <h2 class="sub-title">共通会計管理アプリ</h2>
                <h1 class="title">WALLET MANAGER</h1>
                <h3 class="greeting">ようこそ、<%= locals.username %>さん</h3>
                <p class="description">
                    このアプリは、家庭などの共通会計の支出管理や<br>
                    月々の精算作業をサポートします。
                </p>
                <% if(locals.isLoggedIn){ %>
                    <a title="支出リストの確認、支出の追加、編集、削除ができます" href="/index" class="index-button">支出リスト</a>
                    <a title="メンバーの確認、追加、編集、削除ができます" href="/members" class="index-button">メンバーリスト</a>
                    <form title="本日より３ヶ月前の支出データを一括削除できます" action="/past-data-delete" method="post">
                        <input type="submit" value="過去のデータを削除" class="index-button">
                    </form>
                    <a href="/logout" class="index-button">ログアウト</a>
                <% }else{ %>
                    <a href="/signup" class="index-button">新規登録</a>
                    <a href="/login" class="index-button">ログイン</a>
                <% } %>
            </div>
        </div>
    </body>

</html>